.navbar-dark{
    background-color: #041C32;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-contact{
        text-align: left;
    }
}